# Exam

Develop a model for predicting review rating.  
**Multiclass classification into 5 classes**  
Score: **F1 with macro averaging**  
You are forbidden to use test dataset for any kind of training.  
Remember proper training pipeline.  
If you are not using default params in the models, you have to use some validation scheme to justify them. 

Use `random_state` or `seed` params - your experiment must be reprodusible.


### 1 baseline = 0.51
### 2 baseline = 0.53

In [0]:
SEED = 42

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!wget https://github.com/thedenaas/hse_seminars/blob/master/2019/exam/exam_data.zip
!unzip '/content/exam_data.zip'

In [0]:
import pandas as pd

In [44]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_train.shape

(48192, 3)

In [45]:
df_train.head()

                                              review  ... target
0  The staff was very friendly, the breakfast ver...  ...      5
1  Excellent service - very approachable and prof...  ...      4
2  Really a top notch place to spend a day at the...  ...      5
3  a little noisy, there was a false fire alarm a...  ...      4
4  Place had too many animals and I'm allergic to...  ...      3

[5 rows x 3 columns]

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
import nltk
from nltk.corpus import stopwords
#set(stopwords.words('english'))

In [0]:
stopwords = set(stopwords.words('english'))

In [0]:
from nltk.tokenize import word_tokenize

In [0]:
def tokenizer(sent, no_stopwords=True):
  sent = word_tokenize(sent)
  if no_stopwords:
    sent_list = []
    for w in sent:
      if w not in stopwords:
        sent_list.append(w)
  else:
    sent_list = sent
  return sent_list

In [0]:
df_train['review_list'] = df_train['review'].apply(lambda x: tokenizer(x))
df_train['title_list'] = df_train['title'].apply(lambda x: tokenizer(x))

In [0]:
df_test['review_list'] = df_test['review'].apply(lambda x: tokenizer(x))
df_test['title_list'] = df_test['title'].apply(lambda x: tokenizer(x))

In [0]:
def make_dict(*cols):
  global word_dict, index_dict
  word_dict, index_dict = {}, {}
  word_dict['UNK'] = 0
  index_dict['0'] = 'UNK'
  i = 1
  for col in cols:
    for sent in col:
      for word in sent:
        if word not in word_dict.keys():
          word_dict[word] = i
          index_dict[i] = word
          i += 1
  return word_dict, index_dict

make_dict(df_train['review_list'], df_train['title_list'])

In [0]:
def make_num_sentence(sent, word_dict):
  num_sent = []
  for word in sent:
    num_sent.append(word_dict[word])
  return num_sent

In [0]:
df_train['review_nums'] = df_train['review_list'].apply(lambda x: make_num_sentence(x, word_dict))
df_train['title_nums'] = df_train['title_list'].apply(lambda x: make_num_sentence(x, word_dict))

In [0]:
df_test['review_length'] = df_test['review_list'].apply(lambda x: len(x))
df_test['title_length'] = df_test['title_list'].apply(lambda x: len(x))

In [49]:
from gensim.models.keyedvectors import KeyedVectors

import gensim.downloader as api
word_vectors = api.load("glove-wiki-gigaword-100")

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:410: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [0]:
import numpy as np

In [0]:
def getting_fasttext(filepath):
    fasttext_model = KeyedVectors.load(filepath)
    return fasttext_model

def sent_vectorizer(sent, model): 

    lemmas_vectors = np.zeros((len(sent), model.vector_size)) 
    for idx, lemma in enumerate(sent): 
        if lemma in model.vocab: 
            lemmas_vectors[idx] = model.wv[lemma] 
    sent_vector = lemmas_vectors.mean(axis=0) 
    return sent_vector 

def fasttext_indexing(d):
    model = word_vectors
    vectors_dict = {}
    
    for idx, row in d.iterrows():
        sent_vec = sent_vectorizer(row.review_list, model)
        vectors_dict[idx] = sent_vec
        
    data = pd.DataFrame.from_dict(vectors_dict, orient='index')
    return data

In [52]:
df_train_vectors_r = fasttext_indexing(df_train[['review_list']])
df_test_vectors_r = fasttext_indexing(df_test[['review_list']])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  # Remove the CWD from sys.path while we load stuff.

In [0]:
def fasttext_indexing(d):
    model = word_vectors
    vectors_dict = {}
    
    for idx, row in d.iterrows():
        sent_vec = sent_vectorizer(row.title_list, model)
        vectors_dict[idx] = sent_vec
        
    data = pd.DataFrame.from_dict(vectors_dict, orient='index')
    return data

In [53]:
df_train_vectors_t = fasttext_indexing(df_train[['title_list']])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  # Remove the CWD from sys.path while we load stuff.

In [56]:
df_test_vectors_t = fasttext_indexing(df_test[['title_list']])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: RuntimeWarning: Mean of empty slice.
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:154: RuntimeWarning: invalid value encountered in true_divide
  ret, rcount, out=ret, casting='unsafe', subok=False)

In [0]:
from sklearn.decomposition import TruncatedSVD

In [0]:
svd = TruncatedSVD(n_components=10, n_iter=7, random_state=SEED)

In [33]:
#df_train_vectors_t.fillna(df_train_vectors_t.mean())

             0         1         2   ...        97        98        99
0      0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
1      0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
2     -0.431667  0.062893  0.274097  ... -0.140888  0.187596  0.120798
3      0.045743 -0.186493  0.362227  ... -0.217781  0.542377  0.130140
4      0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
...         ...       ...       ...  ...       ...       ...       ...
48187  0.018404  0.105080  0.681434  ... -0.488604  0.308987  0.095728
48188 -0.009997  0.014798  0.211302  ... -0.196207  0.706727 -0.042135
48189 -0.014042 -0.129139  0.133292  ... -0.060644  0.269834  0.160111
48190  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
48191  0.128240  0.164503  0.163653  ...  0.008754  0.130173  0.174057

[48192 rows x 100 columns]

In [0]:
#df_train_vectors_t.replace([np.inf, -np.inf], np.nan, inplace=True)

In [0]:
svd_reviews = svd.fit_transform(df_train_vectors_r)

In [0]:
#svd_titles = svd.fit_transform(df_train_vectors_t)

In [0]:
svd_reviews = pd.DataFrame.from_records(svd_reviews)
svd_titles = pd.DataFrame.from_records(df_train_vectors_t)#svd_titles)

In [0]:
svd_reviews_test = svd.fit_transform(df_test_vectors_r)

In [0]:
svd_reviews_test = pd.DataFrame.from_records(svd_reviews)
svd_titles_test = pd.DataFrame.from_records(df_test_vectors_t)#svd_titles)

In [0]:
def renaming(n, pref):
  rename_dict = {}
  for i in range(n):
    rename_dict[i] = f'{pref}_{i}'
  return rename_dict

rename_reviews = renaming(10, 'reviews')
rename_titles = renaming(100, 'titles')

In [65]:
train_df = pd.concat([df_train, svd_reviews], axis=1)
train_df.rename(columns=rename_reviews)

                                                  review  ... reviews_9
0      The staff was very friendly, the breakfast ver...  ... -0.165334
1      Excellent service - very approachable and prof...  ... -0.097045
2      Really a top notch place to spend a day at the...  ...  0.119213
3      a little noisy, there was a false fire alarm a...  ... -0.024170
4      Place had too many animals and I'm allergic to...  ... -0.002943
...                                                  ...  ...       ...
48187  A friend of mine always books the cheapest, ba...  ... -0.047618
48188  Stayed here with my family over Spring Break i...  ...  0.067062
48189             One word AWFUL and the pool was closed  ...  0.138702
48190  Never will stay here again. Dirty towels shirt...  ... -0.074481
48191  This Inn had been renovated and the staff were...  ... -0.174689

[48192 rows x 15 columns]

In [0]:
train_df = pd.concat([train_df, svd_titles], axis=1)
train_df.rename(columns=rename_titles)
train_df = train_df.dropna(axis=0)

In [0]:
X_train = train_df.drop(columns=['review', 'title', 'target', 'review_list', 'title_list'])
y_train = train_df['target']

In [136]:
X_train.shape

(48186, 210)

In [129]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=SEED)

model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

# Testing

In [0]:
test_df = pd.concat([df_test, svd_reviews_test], axis=1)
test_df.rename(columns=rename_reviews)
test_df = pd.concat([test_df, svd_titles_test], axis=1)
test_df.rename(columns=rename_titles)
test_df = test_df.dropna(axis=0)

In [0]:
X_test = test_df.drop(columns=['review', 'title', 'target', 'review_list', 'title_list'])
X_test = X_test.dropna(axis=0)
y_test = test_df['target']

In [0]:
X_test = X_test.drop(columns=['review_length', 'title_length'])
#X_test = X_test.drop(columns=['review', 'title', 'target', 'review_list', 'title_list'])

In [0]:
X_test = X_test.replace([np.inf, -np.inf], np.nan, inplace=True)

In [135]:
X_test.shape, y_test.shape

((5354, 110), (5354,))

In [0]:
from sklearn import metrics

In [134]:
#print('train', metrics.f1_score(y_train, np.around(model.predict(X_train), 0), average='macro'))
print('test', metrics.f1_score(y_test, np.around(model.predict(X_test), 0), average='macro'))

ValueError: ignored